.DS_Store
**/DS_Store
ground_truth_generator/ground_truth.json
simulator/json_files/first_analyzer.json
simulator/json_files/fixer.json
simulator/json_files/second_analyzer.json
simulator/simulator-assessment.json