.DS_Store
**/DS_Store
ground_truth_generator/ground-truth.json
simulator/first_analyzer/first-analyzer.json
simulator/fixer/fixer.json
simulator/second_analyzer/second-analyzer.json
simulator/simulator-assessment.json